.intro {
width: 830px;
margin-left: 148px;
}

.intro__title {
font-family: Inter;
font-size: 54px;
font-weight: 900;
line-height: 58px;
text-align: left;
color: #FFFFFF;
}

.intro__text {
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 34px;
text-align: left;
color: #FFFFFF;
}

.intro__text_name {
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 34px;
text-align: right;
color: #FFFFFF;
}

.intro__text_description {
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 26.08px;
text-align: left;
color: #FFFFFF;
}