.intro {
max-width: 984px;
margin: 0 auto;
}

.intro__title {
font-family: 'Inter';
font-size: 54px;
font-weight: 900;
line-height: 58px;
text-align: left;
color: #FFFFFF;
}

.intro__text {
font-family: 'Inter';
font-size: 24px;
font-weight: 400;
line-height: 34px;
text-align: left;
color: #FFFFFF;
margin-bottom: 0;
}

.intro__text_name {
margin-top: 10px;
font-family: 'Inter';
font-size: 24px;
font-weight: 400;
line-height: 34px;
text-align: right;
color: #FFFFFF;
}

.intro__text_description {
font-family: 'Inter';
font-size: 16px;
font-weight: 400;
line-height: 26.08px;
text-align: left;
color: #FFFFFF;
}

@media (max-width:1024px) {
    .intro {
        max-width: 720px;
        max-height: 490px;
    }
.intro__title {
    max-width: 707px;
    max-height: 98px;
    font-family: Inter;
font-size: 45px;
font-weight: 900;
line-height: 49px;
text-align: left;
}

.intro__text {
    max-width: 720px;
    max-height: 102px;
    font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 34px;
text-align: left;
}

.intro__text-name {
    max-width: 720px;
    max-height: 34px;
    font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 34px;
text-align: right;
}

.intro__text-description {
    max-width: 720px;
    max-height: 182px;
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 26.08px;
text-align: left;
}
 }

 @media (max-width:720px) {
    .intro {
        max-width: 288px;
        max-height: 878px;
    }
.intro__title {
    max-width: 288px;
    max-height: 140px;
    font-family: Inter;
font-size: 32px;
font-weight: 900;
line-height: 35px;
text-align: left;

}

.intro__text {
    max-width: 288px;
    max-height: 180px;
    font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 30px;
text-align: left;

}

.intro__text_name {
 max-width: 288px;
 max-height: 34px;
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 34px;
text-align: right;

}

.intro__text_description {
    max-width: 288px;
    max-height: 442px;
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 26.08px;
text-align: left;
}
 }