.places {
  max-width: 984px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 92px;
  gap: 80px;
}

@media (max-width: 1024px) {
  .places {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .places {
    display: flex;
    flex-direction: column;
  }
}
